@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #000000;
  color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
